<div class="admin-users">
  <div
    class="p-5 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-3"
  >
    <h1 class="text-2xl font-bold">Administración de Usuarios</h1>

    <app-button
      label="Crear Usuario"
      variant="primary"
      size="md"
      [fullWidth]="true"
      class="sm:w-auto"
      (clicked)="redirectToCreateUser()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 sm:size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
    </app-button>
  </div>

  <app-data
    [headers]="headers"
    [data]="users"
    (clickOptionsEvent)="clickOptionsEvent($event)"
  ></app-data>
</div>
