<div
  class="p-5 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-3"
>
  <h1 class="text-2xl font-bold">Facturas</h1>
  <div class="flex flex-col sm:flex-row gap-2 w-full sm:w-auto">
    <div class="flex flex-wrap gap-2 w-full sm:w-auto">
      <button
        class="w-full sm:w-auto bg-green-600 text-white px-4 py-3 sm:py-2 rounded-md flex items-center justify-center gap-2 text-sm sm:text-base shadow-sm"
        (click)="exportInvoices('excel')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
          />
        </svg>
        Descargar CSV
      </button>
      <button
        class="w-full sm:w-auto bg-red-600 text-white px-4 py-3 sm:py-2 rounded-md flex items-center justify-center gap-2 text-sm sm:text-base shadow-sm"
        (click)="exportInvoices('pdf')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
          />
        </svg>
        Descargar PDF
      </button>
    </div>
    <button
      class="w-full sm:w-auto bg-color1 text-white px-4 py-3 sm:py-2 rounded-md flex items-center justify-center gap-2 text-sm sm:text-base shadow-sm"
      (click)="gotToAddInvoice()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-5 sm:size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 4.5v15m7.5-7.5h-15"
        />
      </svg>
      Nueva Factura
    </button>
  </div>
</div>

<div class="px-5 lg:block hidden">
  <app-table
    [headers]="headers"
    [data]="invoices"
    (optionsEvent)="clickOptions($event.option, $event._id)"
  ></app-table>
</div>

<div class="px-5 block lg:hidden">
  <app-list-table
    [headers]="headers"
    [data]="invoices"
    (clickOptionsEvent)="clickOptions($event.option, $event._id)"
  ></app-list-table>
</div>

<div class="hidden">
  <app-file-download
    id="export-invoices"
    [data]="invoices"
    [columns]="exportColumns"
    [fileType]="exportFileType"
    fileName="facturas"
  ></app-file-download>
</div>
