<div class="flex items-center justify-between w-full gap-2 p-5">
  <button
    class="bg-color1 text-white px-4 py-1 flex items-center gap-2 rounded-full"
    (click)="back()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-7"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"
      />
    </svg>

    Volver
  </button>
  <h1 class="text-xl font-bold">
    @if (id) { Editar factura } @else { Agregar factura }
  </h1>
</div>

<form [formGroup]="form" class="flex flex-col gap-4 p-5">
  <div class="flex flex-col gap-2">
    <label for="proyect">Proyecto <span class="text-color1">*</span></label>
    <select
      id="proyect"
      formControlName="proyect"
      class="w-full p-2 border border-gray-300"
    >
      <option [value]="">Seleccione un proyecto</option>
      @for(proyect of proyects; track proyect._id){
      <option [value]="proyect._id">{{ proyect.name }}</option>
      }
    </select>
    @if (proyect?.invalid && proyect?.touched) {
    <span class="text-red-500">El proyecto es requerido</span>
    }
  </div>
  <div class="flex flex-col gap-2">
    <label for="category">Categoría <span class="text-color1">*</span></label>
    <select
      id="category"
      formControlName="category"
      class="w-full p-2 border border-gray-300"
    >
      @for(category of categories; track category){
      <option value="{{ category.key }}">{{ category.name }}</option>
      }
    </select>
    @if (category?.invalid && category?.touched) {
    <span class="text-red-500">La categoría es requerida</span>
    }
  </div>

  @if(!id) {
  <div class="flex flex-col gap-2">
    <label for="file"
      >Adjuntar factura <span class="text-color1">*</span></label
    >

    <div
      class="bg-blue-50 border border-blue-300 rounded-lg p-6 text-center shadow-sm w-full cursor-pointer hover:bg-blue-100 transition"
      (click)="fileInput.click()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-12 w-12 mx-auto text-blue-400"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"
        />
      </svg>
      <p class="mt-2 text-sm text-gray-600">
        Haga clic para seleccionar una factura
      </p>
      <input
        #fileInput
        type="file"
        id="file"
        (change)="onFileSelected($event)"
        class="hidden"
        accept="image/*"
      />
    </div>
    @if (imageUrl?.invalid && imageUrl?.touched) {
    <span class="text-red-500">La factura es requerida</span>
    }
  </div>
  } @if (previewImage) {
  <div class="flex flex-col gap-2">
    <div class="flex justify-between items-center">
      <label for="preview">Vista previa</label>
      <button
        class="text-blue-600 hover:underline"
        (click)="openInvoice()"
        type="button"
      >
        Ver en pantalla completa
      </button>
    </div>
    <div class="relative h-80 border rounded-lg overflow-hidden">
      <img
        [src]="previewImage"
        class="absolute inset-0 w-full h-full object-contain"
      />
    </div>
  </div>
  } @if (percentage() > 0 && percentage() < 100) {
  <div class="flex flex-col gap-2">
    <label>Progreso</label>
    <div class="w-full bg-gray-200 rounded-full h-2.5">
      <div
        class="bg-color1 h-2.5 rounded-full"
        [style.width.%]="percentage()"
      ></div>
    </div>
    <p class="text-xs text-right">{{ percentage() }}%</p>
  </div>
  }

  <button
    [disabled]="form.invalid"
    type="button"
    (click)="saveOrUpdate()"
    class="bg-color1 text-white px-4 py-2 rounded-md mt-4 disabled:opacity-50"
  >
    @if (id) { Actualizar factura } @else { Subir factura }
  </button>
</form>

<!-- @if(isLoading()) {
<div class="loader-image">
  <div class="loader-image-content">
    <div class="loader-image-content-spinner"></div>
    <div class="loader-image-content-text">
      <span>Subiendo Imagen...</span>
    </div>
  </div>
</div>
} -->
