<div class="create-user">
  <h2>Crear Usuario</h2>
  <form>
    <div>
      <label>Nombre</label>
      <input type="text" name="name" />
    </div>
    <div>
      <label>Email</label>
      <input type="email" name="email" />
    </div>
    <div>
      <label>Rol</label>
      <select name="role">
        <option value="ADMIN2">ADMIN2</option>
        <option value="COLABORADOR">COLABORADOR</option>
        <option value="PROVIDER">PROVIDER</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Crear</button>
  </form>
</div>
