@use "./styles/variables" as vars;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

.text-color1 {
  color: vars.$color1;
}

.text-color2 {
  color: vars.$color2;
}

.text-color3 {
  color: vars.$color3;
}

.text-color4 {
  color: vars.$color4;
}

.bg-color1 {
  background-color: vars.$color1;
}

.bg-color2 {
  background-color: vars.$color2;
}

.bg-color3 {
  background-color: vars.$color3;
}

.bg-color4 {
  background-color: vars.$color4;
}

input,
select,
textarea {
  border: 1px solid vars.$color1;
  border-radius: 0.5rem !important;
  padding: 0.5rem;
}
